/* setup */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* mobile-first grid */

.container {
  margin: 0 auto;
  /*max-width: 53rem;*/
  width: 98%;
}

.column { margin-bottom: 1.5rem; }

@media (min-width: 40rem) {
  .column {
    float: left;
    margin: 0;
    /*padding-left: 1rem;*/
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.three-fourths { width: 75%; }
  .column.fifth { width: 20%; }
  .column.two-fifths { width: 60%; }
  .column.three-fifths { width: 80%; }
  .column.flow-opposite { float: right; }
}

@media (min-width: 40rem) {
  html { font-size: 112%; }
}

@media (min-width: 64rem) {
  html { font-size: 120%; }
}


/* clearfix */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* styles */

body {
  background-color: #fff;
  color: #222;
  font-size: 1.1em;
}

h1, h2, h3, h4, h5 {
  font-family: Arial, sans-serif;
  margin: 0.6em 0;
}

h5 {
  margin:0.5em 0 0 0;
  letter-spacing: 1px;
  border-top: 1px solid #eee;
}

a:link, a:visited {
  color: navy;
}

label {
  font-weight: bold;
  font-family: monospace
}

input, select {
  font-family: monospace;
  font-size:90%;
}

input[type=text],input[type=search] {
  width: 100%;
  border: 1px solid #aaa;
}

input[type=checkbox] {
  margin: 0 1em;
}

input[type=search] {
  background: url('/public/img/search.png') no-repeat;
  padding-left: 20px;
  background-position:4px 5px;
}

textarea {
  width: 100%;
  font-size: 14px;
}

.tinyText {
  font-size: 70%;
}

.red {
  color: red;
}

.grey {
  color: #aaa;
}

.yellow {
  background: yellow;
}

.navy {  color: navy; }

.errorInfo {
  font-family: monospace;
  background-color: yellow;

  font-size:90%;
}

.relative {
  position: relative;
}

.clickable:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.wait {
  cursor: wait !important;
}

.monospace { font-family: monospace }

.textRight { text-align: right}
.smallText { font-size: 70% }

/* main page */

.profileList {
  list-style: none;
  padding: 0;
}

.profileList li {
  display: inline-block;
  float: left;
  margin: 0 1em;
  padding: 0.2em;
}

.mainSearchResults {
  background: #eee;
  min-height:200px;
}

.mainSearchResults table {
  width: 100%;
}

.mainSearchResults td {
  padding: 0.1em;
}

.resType {
  width: 10em
}

.utkast {
  background:#aef
}

.mainSearchResults tr:hover {
  background:#fff
}
/* resource profile form */

.resourceMenu {
  position: fixed;
  top: 1em;
  left: 1em;
  width: 22%;
  font-family: monospace;
}

.resourceMenu button {
  width: 99.8%;
  padding: 0.2em;
  margin: 0.6em 0;
}

button[disabled=disabled], button:disabled {
  color: #aaa;
}

select[disabled=disabled] {
  /* how? */
}

.warning {
  position: absolute;
  left: -20px;
  top: 2px;
  font-size: 30px;
  height: 30px;
  line-height:30px;

}

.indicator2 {
  position: absolute;
  left: -18px;
  top: 0;
}

.RDFProfile { margin-bottom: 5em; }
.RDFProfile h3 {
  border-bottom: 2px solid #ccc;
}

.RDFProfile p { margin: 0.5em 0; }

.resourceMetadata {
  margin: 2em 0;
  border: 2px solid #aaa;
  background-color: #f8f8f8;
  padding: 0.5em;
}

.resourceURI {
  font-family: monospace;
  border-bottom: 2px solid #ccc;
}

.resourceTimestamps {
  margin: 0.4em 0;
}

.resourceValues {
  margin:0;
  font-family: monospace;
  font-size: 90%;
}


.propertyValue {
  background-color: #eee;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 0.3em;
  word-wrap: break-word;
}

.propertyValue:hover {
  border: 2px solid #ddd;
}

.source {
  background: #ddd;
  padding: 3px;
  border-radius: 2px;
}

.valSelect, .resourceData input {
    width: 22em;
}

.smallButton {
  font-size:12px;
}

.propertyDesc {
  font-size:70%;
  font-weight: 100;
  color: #666;
}
.propertyDesc:before {content: '/ '}

.removeProperty {
  display: inline-block;
  border-radius: 2px;
  width: 1.2em;
  color: red;
  text-align: center;
  background-color: pink;
  float: right;
}

.removeProperty:hover {
  cursor: pointer;
}

.URISearchResults {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eee;
  font-family: monospace;
  font-size: 90%;
  width: 100%;
  border-bottom: 1px solid #888;
  padding: 0.3em;
}

.URISearchResults ul {
  list-style: none;
  padding: 0;
}

.searchHit:hover {
  background-color: #fff;
  cursor: pointer;
}

.searchHitSelected {
  background-color: #fff;
  text-decoration: underline;
}

.hitLabel {
  display: inline-block;
  word-wrap: break-word;
  width: 20em;
}

.hitLabel:hover {
  text-decoration: underline;
}

.newResLink {
  margin: 0 0.3em;
}


.showHiddenFields {
  border-top: 2px solid #ccc;
  margin-top: 1em;
}


.logg {
  background: #ffe;
  border: 2px solid #ccc;
  list-style: none;
  padding: 0.3em;
  margin: 0;
  font-size:60%;
  max-height: 200px;
  overflow: auto;
}

.error {
  color: red;
}

.suggestion {
  display: inline-block;
  float: left;
  margin: 0 0.2em;
  background: #ffd;
  border: 2px solid #fff;
  font-size: 70%;
  border-radius: 3px;
  padding: 0.3em;
  word-wrap: break-word;
  cursor: pointer;
}

.suggestion:hover {
  border: 2px solid #ddd;
}


.sugsource {
  background: #ddb;
  padding: 3px;
  border-radius: 2px;
}
